<div class="container mt-3">
  <div class="form-group">
    <button
      class="btn btn-primary"
      type="submit"
      (click)="updateFormSetValue()"
    >
      setValue()
    </button>
    <button
      class="btn btn-primary ml-5"
      type="submit"
      (click)="updateFormPatchValue()"
    >
      patchValue
    </button>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">User Name</label>
      <input
        [formControl]="username"
        type="text"
        class="form-control"
        placeholder="Enter username"
        [ngClass]="{ 'is-invalid': username.errors && username.touched }"
      />
      <div class="invalid-feedback" *ngIf="username.errors">
        User Name is required
      </div>
    </div>
    <!-- company -->
    <div class="form-group">
      <label for="company">company</label>
      <input
        [formControl]="company"
        type="text"
        class="form-control"
        placeholder="company"
        [ngClass]="{
          'is-invalid': company.hasError('required') && company.touched
        }"
      />
      <div class="invalid-feedback" *ngIf="company.errors">
        Company Name is required
      </div>
    </div>
    <!-- formArray -->

    <!-- button -->
    <div class="form-group">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="formGroup.invalid"
      >
        Submit
      </button>
    </div>

    <p>form value: {{ formGroup.value | json }}</p>
    <p>form status: {{ formGroup.status | json }}</p>
  </form>
</div>
