<div class="my-3">
  <h2 class="text-center">Form Event</h2>
  <div class="row">
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-header">Add Video</div>
        <div class="card-body">
          <button #addBtn class="btn btn-primary">Add Video</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul class="list-group" id="elContainer"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-header">Add Video</div>
        <div class="card-body">
          <ul class="list-group" id="elContainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
