<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a
    class="navbar-brand"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    >Angular-11</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    appClickOutside [targetId]="'navbarSupportedContent'" (clickOutside)="onClickOutside()"
  >
  <!-- appClickOutside (clickOutside)="onClickOutside()" -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a
          class="nav-link"
          [routerLink]="['/features/life-cycle']"
          routerLinkActive="active-router-link"
          >LifeCycle
        </a>
      </li>

      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a
          class="nav-link dropdown-toggle"
          id="formDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [routerLinkActive]="['active-router-link']"
        >
          Forms
        </a>
        <div class="dropdown-menu" aria-labelledby="formDropdown">
          <a
            class="dropdown-item"
            [routerLink]="['/features/forms/form-control']"
            routerLinkActive="active-router-link"
            >FormControl</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/forms/form-control-group']"
            routerLinkActive="active-router-link"
            >Form Control-Group</a
          >

          <a
            class="dropdown-item"
            [routerLink]="['/features/forms/formArray']"
            routerLinkActive="active-router-link"
            >Form Array</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/forms/select']"
            routerLinkActive="active-router-link"
            >Select Options</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/forms/radio-checkbox']"
            routerLinkActive="active-router-link"
            >Radio Checkbox</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/forms/multiple-checkbox']"
            routerLinkActive="active-router-link"
            >Multiple Checkbox</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/forms/child-parent-checkbox']"
            routerLinkActive="active-router-link"
            >Child Parent Checkbox</a
          >

          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            [routerLink]="['/features/forms/child-parent-boolean']"
            routerLinkActive="active-router-link"
            >Child-Parent-Boolean</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/forms/register']"
            routerLinkActive="active-router-link"
            >Signup</a
          >
        </div>
      </li>
      <!-- end form drop down -->
      <!-- start advance angular section -->
      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a
          class="nav-link dropdown-toggle"
          id="advanceDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [routerLinkActive]="['active-router-link']"
        >
          Advance
        </a>
        <div class="dropdown-menu" aria-labelledby="advanceDropdown">
          <a
            class="dropdown-item"
            [routerLink]="['/features/advance/content-projection']"
            routerLinkActive="active-router-link"
            >Ng Content</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/advance/templete-reference']"
            routerLinkActive="active-router-link"
            >Templete-reference</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/advance/ng-template']"
            routerLinkActive="active-router-link"
            >ng-template</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/advance/ng-template-outlet']"
            routerLinkActive="active-router-link"
            >ng-template-outlet</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/advance/view-child']"
            routerLinkActive="active-router-link"
            >view-child</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/advance/view-children']"
            routerLinkActive="active-router-link"
            >View-children</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/advance/dom-manipulation']"
            routerLinkActive="active-router-link"
            >dom-manipulation</a
          >
        </div>
      </li>
      <!-- end advance angular section -->
      <!-- start componentCommunication section -->
      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a
          class="nav-link dropdown-toggle"
          id="advanceDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [routerLinkActive]="['active-router-link']"
        >
          Component Communication
        </a>
        <div class="dropdown-menu" aria-labelledby="advanceDropdown">
          <a
            class="dropdown-item"
            [routerLink]="['/features/c-communication/parent-child/input']"
            routerLinkActive="active-router-link"
            >Parent-Child-Input</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/c-communication/input/chage-detection']"
            routerLinkActive="active-router-link"
            >Input-Chage-Detection</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/c-communication/child-parent/viewchild']"
            routerLinkActive="active-router-link"
            >Child-Parent-ViewChild</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/c-communication/child-parent/output']"
            routerLinkActive="active-router-link"
            >Child-Parent-Output</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/c-communication/service/subject']"
            routerLinkActive="active-router-link"
            >Communication-Subject</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/features/c-communication/ngzones']"
            routerLinkActive="active-router-link"
            >ngZones</a
          >
        </div>
      </li>
      <!-- end componentCommunication section -->
      <!-- form-validation -->
      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a
          class="nav-link dropdown-toggle"
          id="formValidationDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [routerLinkActive]="['active-router-link']"
        >
          Form-Validation
        </a>
        <div class="dropdown-menu" aria-labelledby="formValidationDropdown">
          <a
            class="dropdown-item"
            [routerLink]="['/features/form-validation/validation']"
            routerLinkActive="active-router-link"
            >From Validation
          </a>
          <a
            class="dropdown-item"
            [routerLink]="['/features/form-validation/custom-validation']"
            routerLinkActive="active-router-link"
            >Custom Validation
          </a>
          <a
            class="dropdown-item"
            [routerLink]="['/features/form-validation/async-validation']"
            routerLinkActive="active-router-link"
            >Async Validation
          </a>
          <a
            class="dropdown-item"
            [routerLink]="['/features/form-validation/cross-validation']"
            routerLinkActive="active-router-link"
            >Cross Validation
          </a>
          <a
            class="dropdown-item"
            [routerLink]="['/features/form-validation/dynamic-validation']"
            routerLinkActive="active-router-link"
            >Dynamic Validation
          </a>
        </div>
      </li>
      <!-- end of form validation -->
      <!-- strat animation sections -->
      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a
          class="nav-link dropdown-toggle"
          id="animationDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [routerLinkActive]="['active-router-link']"
        >
          Animation
        </a>
        <div class="dropdown-menu" aria-labelledby="animationDropdown">
          <a
            class="dropdown-item"
            [routerLink]="['/features/animation/open-close']"
            routerLinkActive="active-router-link"
            >Open-close
          </a>
          <a
            class="dropdown-item"
            [routerLink]="['/features/animation/todos']"
            routerLinkActive="active-router-link"
            >Todos
          </a>
          <a
            class="dropdown-item"
            [routerLink]="['/features/animation/zippy']"
            routerLinkActive="active-router-link"
            >Zippy
          </a>
        </div>
      </li>
      <!-- end of animation section -->
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a
          class="nav-link"
          [routerLink]="['/features/rxjs/dashboard']"
          routerLinkActive="active-router-link"
          >Rxjs
        </a>
      </li>
    </ul>
  </div>
</nav>
