<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">User Name</label>
    <input
      [formControl]="username"
      type="text"
      class="form-control"
      placeholder="Enter username"
      [ngClass]="{ 'is-invalid': username.errors }"
    />
    <div class="invalid-feedback" *ngIf="username.errors">
      User Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="company">company</label>
    <input
      [formControl]="company"
      type="text"
      class="form-control"
      placeholder="company"
      [ngClass]="{
        'is-invalid': company.hasError('required') && company.touched
      }"
    />
    <div class="invalid-feedback" *ngIf="company.errors">
      Company Name is required
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  <p>form value: {{ username.value | json }}</p>
  <p>form status: {{ username.status | json }}</p>
  <p>form value: {{ company.value | json }}</p>
  <p>form status: {{ company.status | json }}</p>
</form>
