<section class="map">
  <h1 class="text-center">MergeMap</h1>
  <p>
    It merges the values from all of its inner observables and emits the values
    back into the stream.
  </p>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-primary btn-sm" #btn1>ClickMe</button>
        </div>
        <div class="card-body">
          <ul class="list-group" id="mergeMapConatiner1"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h6>Usages:</h6>
          <li>Merging values from two or more HTTP Calls</li>
        </div>
        <div class="card-body">
          <ul class="list-group" id="mergeMapConatiner2"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Concat first name and lastname</div>
        <div class="card-body">
          <ul class="list-group" id="mergeMapConatiner3"></ul>
        </div>
      </div>
    </div>
  </div>
</section>
