<div>
  <h1>of(takes no of argument)</h1>
  <p>
    Accepts variable no of arguments and emits each argument as it is without
    changing anything
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">User1</div>
        <div class="card-body">
          <ul class="list-group" id="ofConatiner1"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">User2</div>
        <div class="card-body">
          <ul class="list-group" id="ofConatiner2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
