<section class="from">
  <h1>From</h1>
  <p>
    It takes only single argument and iterates over the argument and emits each
    value.
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">User list</div>
        <div class="card-body">
          <ul class="list-group" id="fromUlContainer1"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">User 2</div>
        <div class="card-body">
          <ul class="list-group" id="fromUlContainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</section>
